<h3>Editar Vestuarista</h3>

<%= render 'form' %>

<%= button_to 'Ver', @staff, :class => 'show_btn', :method => "get" %>
<%= button_to 'Atrás', staffs_path, :method => "get", :class => 'back_btn' %>
