<h3>Editar Proveedor</h3>

<%= render 'form' %>

<%= button_to 'Show', @provider, :class => 'show_btn', :method => "get" %>
<%= button_to 'Back', providers_path, :method => "get", :class => 'back_btn' %>
