<h3>Editar Proveedor</h3>

<%= render 'form' %>

<%= button_to 'Ver', @provider, :class => 'show_btn', :method => "get" %>
<%= button_to 'Atrás', providers_path, :method => "get", :class => 'back_btn' %>
