<script>
// Change message of required validation
jQuery.extend(jQuery.validator.messages, {
    required: "Este campo es requerido."
});

$.validator.addMethod('number',
    function (value) { 
        return  Number(value);
    }, 'Por favor ingresa un número');

$.validator.addMethod('positiveNumber',
        function (value) { 
            return Number(value) > 0;
        }, 'Por favor ingresa un valor positivo');

$(document).ready(function(){
	$('.devolution_article').validate({
        rules: {
            'article_id': {
                required: true,
                number: true,
                positiveNumber: true
            }
        }
    });
});
</script>



<p id="notice"><%= notice %></p>

<div class="modalBackground">
    <div id="newInputPopup" >
        
        <div id="articleDetailContainer">

        </div>

    </div>

</div>

<div id="devolutionContainer">

    <input type="text" id="returnArticleId" />
    <input type="button" value="Nueva devolucion" id="newReturnButton"/>


    <table class="articleCollectionTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Articulo</th>
                <th>Precio total</th>
                <th>Detalle (?)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    No hay articulos en el lote
                </td>
                <td>
                    
                </td> 
                <td>
                    
                </td>
                <td>
                    
                </td>   
            </tr>
        </tbody>
    </table>
    <input type="button" value="Devolver lote" id="returnBatchButton"/>
</div>

<!-- Templates (ponerlos en algun lugar de assets)-->
<script type="text/template" id="template-articleList">
    
    <%% if (articles.length > 0) {
            _.each(articles, function(currentArticle){ 
                console.info(currentArticle);
                %>
                <tr data-id="<%%- currentArticle.getId() %>">
                    <td> 
                        <%%- currentArticle.getId() %>
                    </td>
                    <td> 
                        <a href="/articles/<%%- currentArticle.getId() %>" target="_blank">
                            <%%- currentArticle.getDescription() %>
                        </a>
                    </td>
                    <td> 
                       
                    </td>
                    <td class="deleteButton"> 
                        <img alt="Delete" height="16" src="/assets/delete.png" width="16" class="withPointer">
                    </td>
                </tr>
        <%% }); 
        } else { %>
            <tr>
                <td>
                     No hay articulos en el lote
                </td>
            </tr>   
    <%% } %>
</script>