<script>
// Change message of required validation
jQuery.extend(jQuery.validator.messages, {
    required: "Este campo es requerido."
});

$.validator.addMethod('number',
    function (value) { 
        return  Number(value);
    }, 'Por favor ingresa un número');

$.validator.addMethod('positiveNumber',
        function (value) { 
            return Number(value) > 0;
        }, 'Por favor ingresa un valor positivo');

$(document).ready(function(){
    makeEnterClick();
    focusCursorOnInput();
	$('.devolution_article').validate({
        rules: {
            'article_id': {
                required: true,
                number: true,
                positiveNumber: true
            }
        }
    });
    disableBillingButton();
});

function makeEnterClick() {
    $('#returnArticleId').keypress(function (e) {
        var key = e.which;
        if(key == 13) {
            $('#newReturnButton').click();
            return false;  
        }
    });
}

function focusCursorOnInput() {
    $('#returnArticleId').focus();
}

function disableBillingButton() {
    $(returnBatchButtonBilling).attr('disabled','disabled');
    $(returnBatchButtonBilling).addClass('disabled');
}
</script>

<style>
    #newReturnButton {
        width:100px;
    }

    .returnBatchButton{
        width:120px !important;
    }

    #table_container {
        max-height: 750px;
        overflow-y: auto;
    }

    .articleCollectionTable{
        max-height: 600px;
    }

    .disabled{
        background-color: gray !important;
    }

    #returnArticleId{
        height: 23px;
        width: 10%;
    }
</style>

<p id="notice"><%= notice %></p>

<div class="modalBackground">
    <div id="newInputPopup" >
        
        <div id="articleDetailContainer">

        </div>

    </div>

</div>

<div id="devolutionContainer">

    <input type="text" id="returnArticleId" />
    <input type="button" value="Devolver" id="newReturnButton"/>

    <div id="table_container">
        <table class="articleCollectionTable" id="articles">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Articulo</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        No hay articulos en el lote
                    </td>
                    <td>
                        
                    </td> 
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <input type="button" value="Imprimir Ticket" id="returnBatchButton" class="returnBatchButton"/>
    <input type="button" value="Imprimir Factura" id="returnBatchButtonBilling" class="returnBatchButton"/>
</div>

<!-- Templates (ponerlos en algun lugar de assets)-->
<script type="text/template" id="template-articleList">
    
    <%% if (articles.length > 0) {
            _.each(articles, function(currentArticle){ 
                console.info(currentArticle.getDescription());
                %>
                <tr data-id="<%%- currentArticle.getId() %>">
                    <td> 
                        <%%- currentArticle.getId() %>
                    </td>
                    <td> 
                        <a href="/articles/<%%- currentArticle.getId() %>" target="_blank">
                            <%%- currentArticle.getDescription() %>
                        </a>
                    </td>
                    <td> 
                        <%%- currentArticle.getAmount() %>
                    </td>
                    <td>
                        <%%- currentArticle.getType() %>
                    </td>
                    <td class="deleteButton"> 
                        <img alt="Delete" height="16" src="/assets/delete.png" width="16" class="withPointer">
                    </td>
                </tr>
        <%% }); 
        } else { %>
            <tr>
                <td>
                     No hay articulos en el lote
                </td>
            </tr>   
    <%% } %>
</script>