<script>

$(document).ready(function(){
    disableWhenCajaClosed();
    makeEnterClick();
    focusCursorOnInput();
    disableBillingButton();
});

function makeEnterClick() {
    $('#returnArticleId').keypress(function (e) {
        var key = e.which;
        if(key == 13) {
            $('#newReturnButton').click();
            return false;  
        }
    });
}

function focusCursorOnInput() {
    $('#returnArticleId').focus();
}

function disableBillingButton() {
    $(returnBatchButtonBilling).attr('disabled','disabled');
    $(returnBatchButtonBilling).addClass('disabled');
}

function disableWhenCajaClosed() {
    if (<%= !@is_open_caja %>) {
        $('#newReturnButton').attr('disabled', 'disabled');
        $('#newReturnButton').addClass('disabled');
    }
}
</script>

<style>
    #newReturnButton {
        width:100px;
    }

    .returnBatchButton{
        width:120px !important;
    }

    #table_container {
        max-height: 750px;
        overflow-y: auto;
    }

    .articleCollectionTable{
        max-height: 600px;
    }

    .disabled{
        background-color: gray !important;
    }

    #returnArticleId{
        height: 23px;
        width: 10%;
    }

    a, a:visited {
      color:#333;
    }
</style>

<p id="notice"><%= notice %></p>

<div class="modalBackground">
    <div id="newInputPopup" >
        
        <div id="articleDetailContainer">

        </div>

    </div>

</div>

<div id="devolutionContainer" class="tete">

    <input type="text" id="returnArticleId"/>
    <input type="button" value="Devolver" id="newReturnButton"/>

    <div id="table_container">
        <table class="articleCollectionTable" id="articles">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Artículo</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        No hay artículos en el lote
                    </td>
                    <td>
                        
                    </td> 
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <input type="button" value="Confirmar Lote" id="returnBatchButton" class="returnBatchButton"/>
    <input type="button" value="Imprimir Factura" id="returnBatchButtonBilling" class="returnBatchButton"/>
</div>

<!-- Templates (ponerlos en algun lugar de assets)-->
<script type="text/template" id="template-articleList">
    
    <%% if (articles.length > 0) {
            _.each(articles, function(currentArticle){ 
                %>
                <tr data-id="<%%- currentArticle.getId() %>">
                    <td> 
                        <%%- currentArticle.getId() %>
                    </td>
                    <td> 
                        <a href="/articles/<%%- currentArticle.getId() %>" target="_blank">
                            <%%- currentArticle.getDescription() %>
                        </a>
                    </td>
                    <td> 
                        <%%- currentArticle.getAmount() %>
                    </td>
                    <td>
                        <%%- currentArticle.getType() %>
                    </td>
                    <td class="deleteButton"> 
                        <img alt="Delete" height="16" src="/assets/delete.png" width="16" class="withPointer">
                    </td>
                </tr>
        <%% }); 
        } else { %>
            <tr>
                <td>
                     No hay artículos en el lote
                </td>
            </tr>   
    <%% } %>
</script>