<h3>Editar Artículo</h3>

<%= render 'form' %>

<%= button_to 'Ver', @article, :class => 'show_btn', :method => "get" %>
<%= button_to 'Atrás', articles_path, :method => "get", :class => 'back_btn' %>