<h3>Editar Productora</h3>

<%= render 'form' %>

<%= button_to 'Ver', @productora, :class => 'show_btn', :method => "get" %>
<%= button_to 'Atrás', productoras_path, :method => "get", :class => 'back_btn' %>

