<div id="receiptContainer">
	Ciclotimia
	<%= Date.today.strftime("%d/%m/%Y") %> 

	<table>
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <% @new_inputs.each do |input| %>
        <tr>
        	<td><%= input.article.description %></td>
        	<td><%= input.amount %></td>
        </tr>
        <% end %>
       <tr>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>