<ul>
	<% @today_inputs.each do |input|  %>
	  <li>
	    <span><%= input.amount %></span>
	    <span><%= input.type %></span>
	    <span><%= input.article.description %></span>

	  </li>
	<% end %>
</ul>