Ingrese importe manual

<ul>
	<li> 
		<div> 
			Importe
		</div> 
		<div> 
			<input type="text" value="Importe"/>
		</div>
	</li>
	<li> 
		<div> 
			
		</div> 
		<div> 

		</div>
	</li>
	<li> 
		<div> 

		</div> 
		<div> 

		</div>
	</li>
	<li> 
		<div> 

		</div> 
		<div> 

		</div>
	</li>
</ul>