// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#articles tr:nth-child(even){
    background: #C5C6C8;
}

#articles tr:nth-child(odd) {
    background: #D9DADB;
}
#articles th {
    background: #C5C6C8;
    font-size:12px;
}

#articles {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;
    text-align: left;
}

.new_article {
    background: #D9DADB;
}

.new_article_btn, .back_btn, .edit_btn, .show_btn{
    float: right;
    margin-top: 25px;
    cursor:pointer;
}

.save {
    float:left;
    margin-top:25px;
    cursor: pointer;
}

.barcode_image {
    cursor: pointer;
}

.submit_search {
    cursor: pointer;
}

.devolution{
    cursor: pointer;
}

#articles td {
    font-size:12px;
}