#newInputPopup{
	background: whitesmoke;
	border: solid 2px #5555DD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 30px 20px;
	width: 50%;
	margin: 0 auto;
	margin-top: 4%;
}
.hide{
	display: none;
}
.show{
	display: block;
}

#articleInputId{
	width: 45%;
	height: 25px;
}

#newInputButton{
	width: 120px;
	height: 33px;
}

.inputArticleSection, .batchSection{
	display: inline-block;
}

.inputArticleSection{
	width: 30%;
}

.batchSection{
	width: 69%;
	vertical-align: top;
}

.inputCollectionTable, .outputTable, .inputTable{
	border-collapse: collapse;
	border-spacing: 2px;
	width: 100%;
	text-align: left;
}
	.inputCollectionTable th, .outputTable th, .inputTable th{
	  background: #C5C6C8; 
	}

	.inputCollectionTable tr:nth-child(even), .outputTable tr:nth-child(even), .inputTable tr:nth-child(even){
  		background: #C5C6C8; 
  	}

	.inputCollectionTable tr:nth-child(odd), .outputTable tr:nth-child(odd), .inputTable tr:nth-child(odd) {
	  background: #D9DADB; 
	}

.inputCollectionTable li > div{
	width: 19%;
	display: inline-block;
}

.modalBackground{
	display: none;
	position: absolute;
	width: 100%;
	background: rgba(100, 100, 100, 0.7);
	height: 100%;
}

.tableContainer{
	height: 200px;
	overflow-y: auto;
}
#confirmBatchButton{
	width: 130px;
	float: right;
	margin: 15px 10px 0 0;
}

.articleMessageContainer{
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

/* Botones */
body input[type="button"], button{
    width: 100%;
    background: #5555dd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #2222aa;
    margin-top: 10px;
    color: white;
    padding: 5px 0;
}