// Place all the styles related to the providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#providers tr:nth-child(even){
    background: #C5C6C8;
}

#providers tr:nth-child(odd) {
    background: #D9DADB;
}
#providers th {
    background: #C5C6C8;
}

#providers {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;
    text-align: left;
}

.new_provider {
    background: #D9DADB;
}

.new_provider_btn, .back_btn, .edit_btn, .show_btn{
    float: right;
    margin-top: 25px;
    cursor:pointer;
}

.save{
    float:left;
    margin-top:25px;
}