.month {
	float:left;
	border-right: solid 2px #00378b;
	padding-right: 10px;
	padding-left: 10px;
}

.from_to_specified{
	float:left;
	border-right: solid 2px #00378b;
	padding-right: 10px;
}

.day{
	padding-left: 10px;
	float: left;
	padding-right: 10px;
	border-right: solid 2px #00378b;
}

#end_date{
	width: 66px;
}

#start_date{
	width: 66px;
}

#reports tr:nth-child(even){
    background: #C5C6C8;
}

#reports tr:nth-child(odd) {
    background: #D9DADB;
}

#reports th {
    background: #C5C6C8;
}

#reports {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;
    text-align: left;
}

.table_container{
    height: 450px;
    overflow-y: auto;
}

.print_reports{
    width: 110px;
	padding: 2px;
	margin-top: 0px;
	margin-left: 10px;
}

.submit_from_to{
	width: 100px;
	padding: 2px;
	margin-top: 0px;
	margin-left: 10px;
}

.submit_day{
	width: 100px;
	padding: 2px;
	margin-top: 0px;
}

.submit_month{
	width: 160px;
	padding: 2px;
	margin-top: 0px;
}

